.donateFormInput {
  width: 100%;
  padding: 10px 12px;
  gap: 10px;
  border-radius: 8px;
  border: 1px solid var(--Font-300, #b3b9c6);
}

.donateFormInput::placeholder {
  color: var(--Font-400, #8a94a6);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.014px;
}

.donateFormInput input {
  color: var(--Font-400, #8a94a6);
  font-family: Nunito;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.014px;
}

.donateInputLabel {
  color: var(--Font-500, #667085);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.035px;
}

.donateButtonSubmit {
  width: 100%;
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--Primary-500, #40a752);
  background: var(--Primary-500, #40a752);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.donateButtonSubmit:hover {
  background: var(--Primary-500, #40a752);
  border: 1px solid var(--Primary-500, #40a752);
}

.donateButtonSubmit:disabled {
  border-radius: 8px;
  border: 1px solid var(--Font-200, #d7dae0);
  background: var(--Font-200, #d7dae0);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.donateButtonSubmit:focus {
  background: var(--Primary-500, #40a752) !important;
  border: 1px solid var(--Primary-500, #40a752) !important;
}

.donateInputButton {
  width: 100%;
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1 0 0;
  border-radius: 8px;
  border: 1px solid var(--Primary-400, #65c375);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  background: transparent;
  color: var(--Primary-500, #40a752);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
.donateInputButton:hover {
  border: 1px solid var(--Primary-400, #65c375);
  background-color: #40a752;
}
.donateInputButton:focus {
  border: 1px solid var(--Primary-400, #65c375) !important;
  background-color: #40a752 !important;
  color: var(--Primary-500, #fff);
}
