.heading {
  color: var(--Primary-600, #308940);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.subheading {
  color: #797979;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 19.2px */
  letter-spacing: 0.08px;
  text-align: start;
}

.formInputIcon {
  margin-right: 10px;
  border-radius: 8px !important;
  border: 1px solid var(--Font-200, #d7dae0);
  background: var(--Font-50, #f6f7f9);
  color: var(--Font-300, #b3b9c6);

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.014px;
}

.formInput {
  display: flex;
  width: 100%;
  padding: 10px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 8px !important;
  border: 1px solid var(--Font-300, #b3b9c6);
}

.formInput::placeholder {
  color: var(--Font-400, #8a94a6);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.014px;
}
