.inputPin {
  width: 56px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid var(--Primary-200, #c6eccc);
  background: var(--Primary-50, #f2fbf3);
  margin: 0px auto;
  text-align: center;
  color: var(--Primary-500, #40a752);

  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 125% */
  text-transform: uppercase;
}

.textInput {
  color: var(--Font-500, #667085);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 145.455% */
  letter-spacing: 0.055px;
}

.textInputColor {
  color: var(--Primary-500, #40a752);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 145.455% */
  letter-spacing: 0.055px;
}
