.filtered-button {
  border-radius: 8px;
  border: 1px solid var(--Primary-500, #40a752);
  background: var(--Primary-500, #40a752);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  color: #fff;
  font-family: Nunito;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 142.857% */
}
