html,
body {
  background-color: #fff;
  width: 100%;
  min-height: 100vh;
  font-synthesis: none;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

/* Custom CSS untuk Tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  margin-top: 10px;
}

.tooltip .tooltip-inner {
  background: var(--Primary-500, #40a752); /* Warna latar tooltip */
  border-radius: 50px; /* Sudut pinggiran tooltip */
  padding: 8px 12px; /* Padding dalam tooltip */
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.014px;
  vertical-align: middle;
}

.tooltip .tooltip-arrow {
  display: none;
}

@media (min-width: 1200px) {
  .container {
    width: 1100px;
    margin: 0 auto;
  }
}

.heading {
  color: var(--Font-600, #5d5d5d);
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: capitalize;
}

.section-about {
  width: 100%;
  height: auto;
  padding-bottom: 50px;
  background: var(--Primary-500, #40a752);
}

.section-about .heading {
  color: #fff;
}

.section-about .description {
  color: #fafafa;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-top: 20px;
  text-align: justify;
  /* text-transform: capitalize; */
}

.section-about img {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

.header {
  position: sticky;
  width: 100%;
  overflow: auto;
  top: 60px;
  height: 50px;
  background: var(--Primary-500, #fff);
  z-index: 9999;
  border: 1px solid var(--Font-300, #b3b9c6);
  padding: 13px;
}
